<div class="px-4 w-full h-full">
  <div class="pt-6 -mt-2">
    <div
      class="flex flex-col sm:flex-row space-y-2 items-center sm:justify-between justify-center w-full"
    >
      <h1 class="text-blueGray-700 font-semibold">Output Request</h1>
      <button
        class="bg-red-500 text-white active:bg-red-600 font-bold text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none ease-linear transition-all duration-150"
        type="button"
        (click)="viewCreate()"
      >
        Create New Output Request
      </button>
    </div>

    <!-- Search -->
    <div class="flex flex-col">
      <h2 class="font-semibold text-xl mb-2">Search Output Request</h2>
      <div class="flex gap-2 w-full flex-row">
        <div class="flex flex-col w-full">
          <label for="name" class="text-blueGray-700 font-normal text-sm"
            >Name</label
          >
          <input
            type="text"
            name="name"
            placeholder="Input Name"
            class="px-2 py-2 placeholder-blueGray-300 text-blueGray-600 relative bg-white bg-white rounded text-sm border border-blueGray-300 outline-none focus:outline-none focus:shadow-outline w-full"
            [(ngModel)]="name"
            (keyup.enter)="search()"
          />
        </div>
        <div class="flex flex-col w-full">
          <label for="email" class="text-blueGray-700 font-normal text-sm"
            >Email</label
          >
          <input
            type="text"
            name="email"
            placeholder="Input Email"
            class="px-2 py-2 placeholder-blueGray-300 text-blueGray-600 relative bg-white bg-white rounded text-sm border border-blueGray-300 outline-none focus:outline-none focus:shadow-outline w-full"
            [(ngModel)]="email"
            (keyup.enter)="search()"
          />
        </div>
        <button
          class="bg-green-500 text-white active:bg-green-600 font-bold text-sm px-4 py-2 rounded shadow hover:shadow-lg outline-none focus:outline-none ease-linear transition-all duration-150 flex items-center gap-2 mt-5"
          type="button"
          (click)="search()"
        >
          <i class="fas fa-search"></i>
          Search
        </button>
      </div>
    </div>
  </div>

  <!-- Data -->
  <div class="w-full my-4">
    <div
      class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-white"
    >
      <div class="block w-full overflow-x-auto my-2">
        <!-- Projects table -->
        <table class="items-center w-full bg-transparent border-collapse">
          <thead>
            <tr>
              <th
                class="px-4 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-blueGray-100 text-blueGray-500 border-blueGray-100"
              >
                Name
              </th>
              <th
                class="px-4 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-blueGray-100 text-blueGray-500 border-blueGray-100"
              >
                Email
              </th>
              <th
                class="px-4 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-blueGray-100 text-blueGray-500 border-blueGray-100"
              >
                Status
              </th>
              <th
                class="px-4 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-blueGray-100 text-blueGray-500 border-blueGray-100"
              >
                Approved/Rejected Reason
              </th>
              <th
                class="px-4 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-blueGray-100 text-blueGray-500 border-blueGray-100"
              ></th>
            </tr>
          </thead>
          <tbody *ngIf="!isLoading">
            <tr
              class="hover:bg-blueGray-50 cursor-pointer"
              *ngFor="let outputRequest of outputRequests"
            >
              <td
                class="border-t-0 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
                (click)="view(outputRequest)"
              >
                {{ outputRequest.name || "-" }}
              </td>
              <td
                class="border-t-0 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
                (click)="view(outputRequest)"
              >
                {{ outputRequest.email || "-" }}
              </td>

              <td
                class="border-t-0 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
                (click)="view(outputRequest)"
              >
                <span [class]="getClassStatus(outputRequest.status)">
                  {{ getStatusLabel(outputRequest.status) }}
                </span>
              </td>
              <td
                class="border-t-0 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
                (click)="view(outputRequest)"
              >
                {{ outputRequest.reason || "-" }}
              </td>
              <td
                class="border-t-0 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap"
              >
                <button
                  *ngIf="outputRequest.status === 'PENDING'"
                  class="text-red-600 font-bold text-xs px-4 py-2 rounded shadow hover:shadow-md mr-1 mb-1 ease-linear transition-all duration-150 h-full"
                  type="button"
                  (click)="delete(outputRequest.id)"
                >
                  <i class="far fa-trash-alt"></i>
                </button>
              </td>
            </tr>
            <tr *ngIf="outputRequests.length === 0">
              <td
                colspan="7"
                class="w-full text-center border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
              >
                No output requests found.
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="isLoading">
            <tr>
              <td
                colspan="7"
                class="border-t-0 px-6 w-full text-center border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
              >
                <i class="fas fa-spinner"></i>
                <p class="ms-4">Loading...</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Pagination -->
<app-pagination
  *ngIf="!isLoading"
  [totalItems]="totalItems"
  [currentPage]="page"
  [perPage]="perPage"
  (selectedPage)="selectedPage($event)"
></app-pagination>
<!-- ! Pagination -->
