<div *ngIf="layout === 'login'">
  <main>
    <section class="relative w-full h-full py-40 min-h-screen">
      <div
        class="absolute top-0 w-full h-full bg-blueGray-800 bg-no-repeat bg-full"
        style="background-image: url('assets/img/register_bg_2.png')"
      ></div>
      <router-outlet></router-outlet>
    </section>
  </main>
</div>

<div *ngIf="layout === 'app'">
  <app-sidebar></app-sidebar>
  <div class="relative md:ml-64">
    <router-outlet></router-outlet>
    <!-- <app-header-stats></app-header-stats>
    <div class="px-4 md:px-10 mx-auto w-full -m-24">
      <router-outlet></router-outlet>
      <app-footer-admin></app-footer-admin>
    </div> -->
  </div>
</div>
