<nav class="block px-4">
  <ul class="flex pl-0 rounded list-none justify-end">
    <li *ngFor="let page of pages">
      <a
        class="first:ml-0 text-xs font-semibold flex w-8 h-8 mx-1 p-0 rounded-full items-center justify-center leading-tight relative border border-solid border-red-500 cursor-pointer"
        [class.bg-white]="page !== currentPage"
        [class.text-red-500]="page !== currentPage"
        [class.bg-red-500]="page == currentPage"
        [class.text-white]="page == currentPage"
        (click)="selectPage(page)"
      >
        <span *ngIf="page <= 0">...</span>
        <span *ngIf="page > 0">{{ page }}</span>
      </a>
    </li>
  </ul>
</nav>
